# Dependencies
node_modules/

# Angular
dist/
.angular/

# Environment files
.env
.env.*
!.env.example

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json