<nav class="navbar">
  <div class="navbar-container">
      <div class="navbar-brand">
        <div class="navbar-title">
          @if (!responsiveService.isMobile()) {
              {{ title }}
          } @else {
            {{ mobileTitle }}
          }
        </div>
      </div>
      @if (responsiveService.isMobile()) {
        <div class="navbar-section">
              {{ sectionTitle() }}
        </div>
      }
      <div class="navbar-menu">
        <app-dropdown-menu></app-dropdown-menu>
      </div>
    </div>
</nav>