.navbar {
    --bs-navbar-padding-x: 0;
}

.nav.nav-tabs {
    border-color: var(--color-space-indigo);
    .nav-link.active {
        border-color: var(--color-space-indigo);
    }
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-container {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
}

.navbar-menu {
    margin-left: auto;
}

.navbar-title {
    font-weight: 900;
    font-size: larger;
}