.pe-container {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  padding: 2rem 0;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
    .pe-container {
      justify-content: center;
    }
}