.card {
    width: 18rem;
    border-color: var(--color-flag-red);
    height: 32rem;
    transition: width 0.5s, height 0.5s;
    font-size: smaller;
    .card-header {
        background: none;
        border-color: var(--color-flag-red);
        height: 7rem;
        .card-title {
            font-size: larger;
            font-weight: bold;
        }
        .card-subtitle {
            font-size: smaller;
            color: var(--color-space-indigo);
        }
    }
    .card-body {
        .card-text {
            white-space: pre-line;
        }
    }
    .card-footer {
        height: 6rem;
        border-color: var(--color-flag-red);
        background-color: unset;
    }
}

.card:hover {
    width: 20rem;
}

@media (min-width: 992px) and (max-width: 1024px) {
    .card:hover {
        width: 18rem;
    }
}

@media (max-width: 768px) {
    .card:hover {
        width: 18rem;
    }
}

@media (max-width: 639px) {
    .card {
        height: auto;
        .card-header {
            height: auto;
        }
        .card-footer {
            height: auto;
        }
    }
    .card:hover {
        width: 18rem;
    }
}