.card {
    width: 18rem;
    border-color: var(--color-flag-red);
    height: 27rem;
    transition: width 0.5s, height 0.5s;
    .card:hover {
        width: 20rem;
        height: 29rem;
    }
    .card-header {
        background: none;
        height: 6rem;
        border-color: var(--color-flag-red);
        height: 7rem;
        .card-title {
            font-size: larger;
            font-weight: bold;
        }
        .card-subtitle {
            font-size: smaller;
            color: var(--color-space-indigo);
        }
    }
    .card-body {

    }
    .card-footer {
        height: 6rem;
        border-color: var(--color-flag-red);
        background-color: unset;
    }
  }