.dropdown-button {
    border: none;
}

.dropdown-button-content {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
}

.dropdown-button-content:hover {
    font-weight: 800;
    cursor: pointer;
}

.dropdown-menu.show {
    border-radius: 0;
    background-color: var(--color-platinum);
    border: none;
    right: 0;
    left: auto;
    width: 30vh;
    color: var(--color-punch-red);
}

.dropdown-item.active, .dropdown-item:active, .nav-link.active, .nav-link:active {
    // font-weight: 800;    
    background-color: var(--color-platinum);
    color: var(--color-flag-red);
}

.dropdown-item:hover, .nav-link:hover {
    // font-weight: 800;
    cursor: pointer;
    background-color: var(--color-platinum);
    color: var(--color-flag-red);
}