.footer {
    border-top-width: thin;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .footer-text {
        display: block;
        font-size: small;
        opacity: 0.5;
        // white-space: nowrap;
    }
    .footer-content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem;
        transition: gap 0.5s;
        .icon-img {
            width: 3rem;
            height: 3rem;
            border-radius: 0;
            background-color: unset;
            transition: width 2s, height 4s;
        }
        .icon-img:hover {
            width: 8rem;
            height: 8rem;
        }
    }
    .footer-content:hover {
        gap: 4rem;
    }
}