$space-indigo:   #2b2d42; 
$lavender-grey:  #8d99ae; 
$platinum:       #edf2f4; 
$punch-red:      #ef233c;
$flag-red:       #d90429;

$pure-white:     #ffffff;
$pure-black:     #000000;

@use "bootstrap/scss/bootstrap" with (
	$black:                  $space-indigo,
	$white:                  $pure-white,
	
	
	$gray-100:               $platinum,         
	$gray-200:               #e2e6ea,            
	$gray-300:               $lavender-grey,    
	$gray-400:               $lavender-grey,
	$gray-500:               $space-indigo,
	$gray-600:               $space-indigo,
	$gray-700:               $space-indigo,
	$gray-800:               $space-indigo,
	$gray-900:               $space-indigo,    
	
	$blue:                   $space-indigo,
	$indigo:                 $space-indigo,
	$purple:                 $space-indigo,
	$pink:                   $punch-red,
	$red:                    $flag-red,
	$orange:                 $punch-red,
	$yellow:                 $lavender-grey,
	$green:                  $space-indigo,
	$teal:                   $lavender-grey,
	$cyan:                   $platinum,
	
	
	$primary:                $punch-red,        
	$secondary:              $space-indigo,     
	$success:                $space-indigo,     	
	$info:                   $lavender-grey,
	$warning:                $lavender-grey,
	$danger:                 $flag-red,         
	$light:                  $platinum,
	$dark:                   $space-indigo,
	
	$body-bg:                $platinum,         
	$body-color:             $space-indigo,     
	$body-secondary-bg:      $lavender-grey,
	$body-tertiary-bg:       $pure-white,
	$body-emphasis-color:    $space-indigo,
	
	$min-contrast-ratio:     3, 
	$color-contrast-dark:    $space-indigo,
	$color-contrast-light:   $pure-white
);

:root {
	--color-space-indigo:   #{$space-indigo};
	--color-lavender-grey:  #{$lavender-grey};
	--color-platinum:       #{$platinum};
	--color-punch-red:      #{$punch-red};
	--color-flag-red:       #{$flag-red};
}

html,
body {
	margin: 0;
	background-color: var(--color-platinum); 
}
